@import 'tailwindcss';


@custom-variant dark (&:where(.dark, .dark *));



@theme {
    --font-ocr: 'OCR A Extended', 'OCR A Std', 'OCR A', 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';

    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';


	--animate-wiggle: wiggle 2s ease-in-out infinite;
	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-3deg);
		}
		50% {
			transform: rotate(3deg);
		}
	}


	--color-primary-50: oklch(98.4% 0.019 200.873);
	--color-primary-100: oklch(95.6% 0.045 203.388);
	--color-primary-200: oklch(91.7% 0.08 205.041);
	--color-primary-300: oklch(86.5% 0.127 207.078);
	--color-primary-400: oklch(78.9% 0.154 211.53);
	--color-primary-500: oklch(71.5% 0.143 215.221);
	--color-primary-600: oklch(60.9% 0.126 221.723);
	--color-primary-700: oklch(52% 0.105 223.128);
	--color-primary-800: oklch(45% 0.085 224.283);
	--color-primary-900: oklch(39.8% 0.07 227.392);
	--color-primary-950: oklch(30.2% 0.056 229.695);


}

html, body {
  height: 100%;
  min-height: fit-content;
}

a.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}
